@model EleraSoftwareProject.Models.Person

@{
    ViewData["Title"] = "Details";
}

<h1>Detaylar</h1>

<div>
    <h4>Kişi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Ad
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonName)
        </dd>
        <dt class = "col-sm-2">
            Soyad
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonSurname)
        </dd>
        <dt class = "col-sm-2">
            Telefon
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            Cep Telefonu
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>
        <dt class = "col-sm-2">
            E-Posta
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
           Şirket Adı
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PersonId">Güncelle</a> |
    <a asp-action="Index">Listeye Dön</a>
</div>
