@model IEnumerable<EleraSoftwareProject.Models.Person>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Yeni Kişi Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ad
            </th>
            <th>
                Soyad
            </th>
            <th>
                Telefon
            </th>
            <th>
                Cep Telefonu
            </th>
            <th>
                E-Posta
            </th>
            <th>
                Şirket Adı
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobilePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonId">Güncelle</a> |
                <a asp-action="Details" asp-route-id="@item.PersonId">Detaylar</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonId">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
